header {
    background-color: indigo;
}

.custom-body {
    height: 1000px;
}

div.custom-body > h1 {
    margin-top: 10%;
    margin-left: 2%;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    color: indigo;
    font-weight: bolder;
    font-size: 4vw;
}

div.custom-body > p {
    margin-top: 2%;
    margin-left: 2%;
    width: 60%;
    font-family: 'Amatic SC', cursive;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 2vw;
}

form {
    width: 100%;
    display: block;
    margin-bottom: 5%;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 1vw;
}

input, textarea, select, option, button,
label {
    width: 70%;
    background-color: rgba(255, 255, 255, 0);
    float: left;
    border: none;
    border-bottom: 2px solid indigo;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    font-size: 2vw;
    padding: 1%;
    margin: 0 0 2% 2%;
}

label {
    width: auto;
}

button#submit {
    background-color: indigo;
    color: white;
    border: 1px solid indigo;
}

::placeholder {
    color: rgb(128, 24, 226);
}


footer {
    background-color: indigo;
}


/****************************************************************************/
/******************************mobile css************************************/
/****************************************************************************/




@media only screen and (max-width: 700px) {
    
    .custom-body {
        margin-top: 40%;
    }
    
    div.custom-body > h1 {
        margin-top: 40%;
        margin-left: 2%;
        width: 96%;
        font-family: 'Amatic SC', cursive;
        color: indigo;
        font-weight: bolder;
        font-size: 9vw;
    }    
    
    div.custom-body > p {
        margin-top: 2%;
        margin-left: 2%;
        width: 90%;
        font-family: 'Amatic SC', cursive;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        font-size: 5vw;
    }
    
    form {
        width: 100%;
        display: block;
        margin-bottom: 5%;
        font-family: 'Amatic SC', cursive;
        font-weight: 600;
        font-size: 5vw;
    }
    
    input, textarea, select, option, button,
    label {
        width: 90%;
        background-color: rgba(255, 255, 255, 0);
        float: left;
        border: none;
        border-bottom: 2px solid indigo;
        font-family: 'Amatic SC', cursive;
        font-weight: 600;
        font-size: 5vw;
        padding: 1%;
        margin: 0 0 4% 5%;
    }

    label {
        width: auto;
    }
    
    button#submit {
        background-color: indigo;
        color: white;
    }



}