* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

header {
    display: block;
    background-color: rgb(255, 49, 83);
    margin: 0;
    position: fixed;
    top: 0;
    z-index: +99999;
}

header > div.header-title > img {
    width: 15%;
    margin-left: 42.5%;
}

button:focus {
    outline: none;
}

.navbar {
    font-size: 4vw;
}

.navbar > a:hover {
    font-size: 5vw;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-weight: 700;
}

.navbar > a {
    border: none;
    color: white;
    background-color: rgb(255, 49, 83);
    width: 20%;
    display: block;
    float: left;
    padding: 2%;
    margin: 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.navbar > a.active {
    font-weight: 900;
    font-size: 4.5vw;
}

div.welcome-body {
    display: block;
    position: relative;
    margin-top: 40%;
}

div.welcome-body > h1 {
    margin-left: 2%;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 8vw;
}

div.welcome-body > p {
    margin-left: 2%;
    text-align: justify;
    text-justify: inter-word;
    width: 96%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.welcome-body > img {
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
}

footer {
    background-color: rgb(255, 49, 83);
}

footer > .footer-list {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
    float: left;
}

footer > .footer-list > a {
    text-align: center;
    margin: 5%;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;
    text-decoration: none;
    transition: .5s ease-in-out;
}

footer > .footer-list2 {
    display: inline-block;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
}

footer > .footer-list2 > a {
    text-align: center;
    margin: 5%;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;
    text-decoration: none;
    transition: .5s ease-in-out;
}

footer > p#copyright {
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    margin: 0;
    padding-top: 15%;
}