* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    overflow-x: hidden;
}


header {
    display: block;
    background-color: rgb(255, 49, 83);
    margin: 0;
    padding: 0 0 1% 0;
    position: relative;
    top: 0;
    width: 100%;
}

.header-title {
    width: 10%;
    display: block;
    margin: 0;
}

header > div.header-title > a > img#background {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    filter: opacity(.2);
    display: none;
}

header > div.header-title > a > img#logo {
    width: 50%;
    display: block;
    margin: 0;
}

button:focus {
    outline: none;
}

.navbar1 {
    font-size: 1vw;
    position: absolute;
    top: 0;
    width: 80%;
    margin: 0 0 0 5%;
}

.navbar1 > a.active {
    font-weight: 900;
    font-size: 1.3vw;
    color: gold;
}

.navbar1 > a:hover {
    font-size: 1.3vw;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    color: gold;
}

.navbar1 > a {
    border: none;
    color: white;
    position: relative;
    display: block;
    float: left;
    padding: 2%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    transition: .3s ease-in-out;
    text-decoration: none;
}

div.welcome-body {
    display: block;
    position: relative;
}

.main-weekly-updates {
    height: 500px;
    width: 100%;
    background-color: rgb(255, 189, 200);
    -webkit-box-shadow: 4px 0px 12px -3px rgba(0,0,0,0.89);
    -moz-box-shadow: 4px 0px 12px -3px rgba(0,0,0,0.89);
    box-shadow: 4px 0px 12px -3px rgba(0,0,0,0.89);
    z-index: +1;
}


.main-weekly-updates > #myCarousel {
    width: 20%;
    position: absolute;
    top: 0;
    right: 5%;
    margin: 2.5% 0 0 0;
    overflow-y: hidden;
}

.main-weekly-updates > #myCarousel > h1 {
    font-size: 1.5vw;
}


.carousel-caption {
    font-family: 'Amatic SC', cursive;
    font-size: 1vw;
    background-color: rgba(248, 16, 55, 0.418);
    font-weight: 600;
}


.main-weekly-updates > h1 {
    margin: 3% 0 0 2%;
    padding: 3% 0 0 0;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 2vw;
}

.main-weekly-updates > p {
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    width: 50%;
    font-weight: 700;
    padding: 2% 0 2% 3%;
    margin: 0;
    text-align: left;
    font-family: 'Amatic SC', cursive;
}

div.welcome-body > h1 {
    margin: 3% 0 3% 2%;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 2vw;
}

div.welcome-body > .main-treat > h3 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 10% 0 0 0;
    padding: 3% 0 3% 0;
}

div.welcome-body > .main-treat > p {
    color: white;
    background-color: rgb(255, 49, 83);
    font-size: 1.5vw;
    width: 100%;
    padding: 2% 0 2% 0;
    margin: 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;

}


.main-treat {
    width: 60%;
    margin: 0 0 0 20%;
}


.main-treat > #treat-month-img {
    width:100%;
    margin: 5% 0 0 0;
    padding-bottom: 10%;
}


div.welcome-body > .main-treat #treat-month-img > img {
    width: 40%;
    margin: 0 0 0 30%;
}

div.welcome-body > .main-treat > ul {
    font-family: 'Amatic SC', cursive;
    margin: 5% 0 15% 0;
    font-size: 1.7vw;
    font-weight: 700;
    text-align: center;
    list-style-type: none;
}


div.welcome-body > a#treat-form-link {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 49, 83);
    margin: 0 0 5% 35%;
    display: block;
    width: 30%;
    padding: 2%;
    font-size: 1.5vw;
    transition: .5s ease-in-out;
    text-align: center;
}

div.welcome-body > a#treat-form-link:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}





footer {
    background-color: rgb(255, 49, 83);
    width: 100%;
}

footer > .footer-list {
    padding-top: 10%;
    width: 20%;
    float: left;
}

footer > .footer-list > a {
    text-align: center;
    margin: 5%;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 2vw;
    text-decoration: none;
    transition: .5s ease-in-out;
    z-index: +1;
    cursor: pointer;
}

footer > .footer-list2 {
    display: inline-block;
    padding-top: 10%;
    width: 50%;
}

footer > .footer-list2 > a {
    text-align: center;
    margin: 5%;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 2vw;
    text-decoration: none;
    transition: .5s ease-in-out;
    z-index: +1;
    cursor: pointer;
}

footer > p#copyright {
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
    margin: 0;
    padding-top: 15%;
}

footer > img {
    width: 100%;
    display: none;
    position: absolute;
    filter: opacity(.7);
}





















/*************************************************************************************************************/
/*************************************************************************************************************/
                                            /* Mobile Layout */
/*************************************************************************************************************/
/*************************************************************************************************************/


@media only screen and (max-width: 700px) {

header {
    display: block;
    background-color: rgb(255, 49, 83);
    margin: 0;
    position: fixed;
    top: 0;
    z-index: +99999;
    width: 100%;
}

header > div.header-title > a > img#background {
    width: 100%;
    display: block;
    height: auto;
    position: absolute;
    z-index: -1;
    filter: opacity(.2);
}

header > div.header-title > a > img#logo {
    width: 15%;
    margin-left: 42.5%;
}

.header-title {
    width: 100%;
    display: block;
    margin: 0;
}


button:focus {
    outline: none;
}

.navbar1 {
    font-size: 4vw;
    display: block;
    position: relative;
    width: 100%;
    left: 0;
    margin: 0;
}

.navbar1 > a:hover {
    font-size: 5vw;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-weight: 700;
}

.navbar1 > a {
    border: none;
    color: white;
    width: 20%;
    display: block;
    float: left;
    padding: 2%;
    margin: 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.navbar1 > a.active {
    font-weight: 900;
    font-size: 4.5vw;
    color: gold;
}

div.welcome-body {
    display: block;
    position: relative;
    margin-top: 25%;
}

div.welcome-body > h1 {
    margin: 40% 0 3% 2%;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 6vw;
}

.main-weekly-updates {
    border: 1px solid rgb(255, 189, 200);
    border-radius: 20px;
    height: 300px;
    width: 100%;
    background-color: rgb(255, 189, 200);
    -webkit-box-shadow: 4px 0px 12px -3px rgba(0,0,0,0.89);
    -moz-box-shadow: 4px 0px 12px -3px rgba(0,0,0,0.89);
    box-shadow: 4px 0px 12px -3px rgba(0,0,0,0.89);
    z-index: +1;
}

.main-weekly-updates > h1 {
    margin: 3% 0 0 2%;
    padding: 3% 0 0 0;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 6vw;
}

.main-weekly-updates > p {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 5vw;
    width: 100%;
    font-weight: 700;
    padding: 2% 0 2% 3%;
    margin: 0;
    text-align: left;
    font-family: 'Amatic SC', cursive;
}



.main-weekly-updates > #myCarousel {
    display: block;
    width: 100%;
    position: absolute;
    top: 60%;
    right: 0;
    margin: 2.5% 0 0 0;
    overflow-y: hidden;
}

.main-weekly-updates > #myCarousel > h1 {
    font-size: 6vw;
}

.carousel-caption {
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;
    background-color: rgba(248, 16, 55, 0.418);
    font-weight: 600;
}


div.welcome-body > h3 {
    margin: 10% 0 5% 2%;
    width: 95%;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 6vw;

}

div.welcome-body > p {
    margin-left: 2%;
    text-align: justify;
    text-justify: inter-word;
    width: 96%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.welcome-body > img {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}

.main-treat {
    width: 80%;
    margin: 80% 0 0 10%;
    border: 1px solid rgb(255, 189, 200);
    border-radius: 20px;
}


.main-treat > #treat-month-img {
    width:100%;
    margin: 5% 0 0 0;
    padding-bottom: 10%;
}

div.welcome-body > a#treat-form-link {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 49, 83);
    display: block;
    width: 80%;
    padding: 3%;
    font-size: 5vw;
    transition: .5s ease-in-out;
    text-align: center;
    margin: 20% 0 10% 10%;
}

div.welcome-body > a#treat-form-link:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

div.welcome-body > ul {
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;
    font-weight: 700;
    margin-top: 0;
    list-style-type: none;
}

div.welcome-body > p#treat-month {
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;
    font-weight: 700;
    width: 70%;
    margin-top: 2%;
    margin-left: 5%;
}


div.welcome-body > .main-treat > h3 {
    border: 1px solid rgb(255, 189, 200);
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 6vw;
    margin: 0 0 0 0;
    padding: 3% 0 3% 0;
}

div.welcome-body > .main-treat > p {
    color: white;
    background-color: rgb(255, 49, 83);
    font-size: 5vw;
    width: 100%;
    padding: 2% 0 2% 0;
    margin: 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;

}

div.welcome-body > .main-treat #treat-month-img {
    margin: 0;
}

div.welcome-body > .main-treat #treat-month-img > img {
    width: 100%;
    margin: 0 0 0 0%;
}

div.welcome-body > .main-treat > ul {
    font-family: 'Amatic SC', cursive;
    margin: 5% 0 15% 0;
    padding: 0;
    font-size: 5vw;
    font-weight: 700;
    text-align: center;
    list-style-type: none;
}

footer {
    background-color: rgb(255, 49, 83);
    width: 100%;
}

footer > .footer-list {
    padding-top: 5%;
    width: 50%;
    float: left;
}

footer > .footer-list > a {
    text-align: center;
    margin: 5%;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;
    text-decoration: none;
    transition: .5s ease-in-out;
    z-index: +1;
    cursor: pointer;
}

footer > .footer-list2 {
    display: inline-block;
    padding-top: 5%;
    width: 50%;
}

footer > .footer-list2 > a {
    text-align: center;
    margin: 5%;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;
    text-decoration: none;
    transition: .5s ease-in-out;
    z-index: +1;
    cursor: pointer;
}

footer > p#copyright {
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    margin: 15% 0 0 0;
}

footer > img {
    width: 100%;
    display: block;
    position: absolute;
    filter: opacity(.7);
}



}