div.treat-feed {
    display: block;
    position: relative;
    margin-top: 0;
}

div.treat-feed > h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
    font-weight: bolder;
    font-size: 7vw;
    margin: 0 0 0 0;
    padding: 1% 0 5% 0;
}

div.accordion {
    width: 100%;
    margin: 0 0 100% 0;
    display: block;
}

div.treat-feed > div.accordion > .offset-white > h3 {
    margin-left: 2%;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
    font-size: 4vw;
}


div.treat-feed > div.accordion > .offset-pink > h3 {
    margin-left: 2%;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 255, 255);
    font-size: 4vw;
}

div.treat-feed > div.accordion > h3 > svg {
    color: rgb(248, 16, 55);
    float: right;
    font-size: 5vw;
    margin-top: 5px;
}

div.accordion > .offset-white > div.dropdown-list > img{
    width: 35%;
    border: 1px solid rgb(248, 16, 55);
    border-radius: 360px;
    margin: 2% 0 0 2%;
}
div.accordion > .offset-pink > div.dropdown-list > img{
    width: 35%;
    border: 1px solid rgb(248, 16, 55);
    border-radius: 360px;
    margin: 2% 0 0 2%;
}

.offset-white {
    width: 50%;
    position: relative;
    float: left;
    padding: 2% 0 5% 0;
}

.offset-pink {
    width: 50%;
    position: relative;
    float: left;
    padding: 2% 0 5% 0;
    background-color: rgba(255, 123, 145, 0.493);
}



h1#title-order-form {
    font-size: 5vw;
    width: 96%;
    margin: 2% 0 10% 2%;
    font-family: 'Amatic SC', cursive;
    color: rgb(248, 16, 55);
}





/***********************************************************************/
/****************************form order css*****************************/
/***********************************************************************/



form {
    display: block;
    position: relative;
    margin: 5% 0 20% 0;
}

.input-form {
    width: 100%;
    margin: 0 0 10% 0;
    height: 250px;
}



input, label {
    width: 46%;
    float: left;
    font-family: 'Amatic SC', cursive;
    font-size: 2vw;
    font-weight: 900;
    margin: 2% 0 2% 2%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(248, 16, 55);
}

input:active {
    border-bottom: 1px solid gold;
}

::placeholder {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(248, 16, 55);
}

#submit-button {
    width: 50%;
    font-family: 'Amatic SC', cursive;
font-size: 2vw;
    margin-left: 25%;
    color: white;
    margin-top: 5%;
    background-color: rgb(248, 16, 55);
    border: 1px solid rgb(248, 16, 55);
    padding: 1% 0 1% 0;
}

#treat-card {
    width: 33%;
    display: inline-block;
    padding: 0 0 0 0;
    margin: 5% 0 5% 0;
}

#treat-card > img {
    width: 75%;
    margin-left: 12.5%;
    border: 2px solid rgb(248, 16, 55);
    border-radius: 360px;
}

#treat-card > p {
    width: 75%;
    margin: 2% 0 0 12.5%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 2vw;
}

#treat-card > select {
    width: 75%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgb(255, 49, 83);
    margin: 2.5% 0 0 12.5%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 2vw;
    position: absolute;
}


 a.treat-form-link1 {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 49, 83);
    margin: 0 0 5% 35%;
    display: block;
    width: 30%;
    padding: 1%;
    font-size: 1.5vw;
    transition: .5s ease-in-out;
    text-align: center;
}

 a.treat-form-link1:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: white;
    transition: .5s ease-in-out;
}









/*****************************************************************************/
/**************************mobile css*****************************************/
/*****************************************************************************/


@media only screen and (max-width: 700px) {

    h1#title-order-form {
        font-size: 9vw;
        width: 96%;
        margin: 35% 0 10% 2%;
        font-family: 'Amatic SC', cursive;
        color: rgb(248, 16, 55);
    }

    div.treat-feed {
        display: block;
        position: relative;
        margin-top: 40%;
        margin-bottom: 200%;
    }

    div.treat-feed > h1 {
        text-align: center;
        font-family: 'Amatic SC', cursive;
        color: rgb(248, 16, 55);
        font-weight: bolder;
        font-size: 9vw;
        margin: 0 0 0 0;
        padding: 1% 0 5% 0;
    }

    div.treat-feed > div.accordion > .offset-white > h3 {
        margin-left: 2%;
        width: 96%;
        font-family: 'Amatic SC', cursive;
        color: rgb(248, 16, 55);
        font-size: 6vw;
    }
    
    
    div.treat-feed > div.accordion > .offset-pink > h3 {
        margin-left: 2%;
        width: 96%;
        font-family: 'Amatic SC', cursive;
        color: rgb(255, 255, 255);
        font-size: 6vw;
    }

    form {
        display: block;
        position: relative;
        height: 1600px;
        margin: 10% 0 75% 0;
    }
    
    .input-form {
        width: 100%;
        margin: 0 0 15% 0;
        height: 250px;
    }
    
    #treat-card {
        width: 45%;
        padding: 0 0 0 0;
        margin: 5% 0 5% 0;
    }
    


    input, label {
        width: 90%;
        float: left;
        font-family: 'Amatic SC', cursive;
        font-size: 6vw;
        font-weight: 900;
        margin: 2% 0 2% 5%;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgb(248, 16, 55);
    }
    
    label {
        width: auto;
    }

    input:active {
        border-bottom: 1px solid gold;
    }
    
    #submit-button {
        font-family: 'Amatic SC', cursive;
        padding: 2% 0 2% 0;
        margin-top: 20%;
        font-size: 5vw;
    }

    #treat-card > img {
        width: 75%;
        margin-left: 20%;
        margin-top: 10%;
        border: 2px solid rgb(248, 16, 55);
        border-radius: 360px;
    }

    #treat-card > p#title-treat {
        width: 95%;
        height: 60px;
        margin: 10% 0 0 10%;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-weight: 900;
        font-size: 6vw;
    }

    
    #treat-card > p#price {
        width: 95%;
        margin: 2% 0 0 10%;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-weight: 900;
        font-size: 6vw;
    }



    #treat-card > select {
        width: 75%;
        height: 30px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgb(255, 49, 83);
        margin: 0 0 0 20%;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-weight: 900;
        font-size: 5vw;
        position: absolute;
    }
    

    div.accordion > .offset-white > div.dropdown-list > img{
        width: 35%;
        border: 1px solid rgb(248, 16, 55);
        border-radius: 360px;
        margin: 2% 0 0 2%;
    }
    div.accordion > .offset-pink > div.dropdown-list > img{
        width: 35%;
        border: 1px solid rgb(248, 16, 55);
        border-radius: 360px;
        margin: 2% 0 0 2%;
    }
    
    .offset-white {
        width: 100%;
        position: relative;
        float: left;
        padding: 2% 0 5% 0;
    }
    
    .offset-pink {
        width: 100%;
        position: relative;
        float: left;
        padding: 2% 0 5% 0;
        background-color: rgba(255, 123, 145, 0.493);
    }

    a.treat-form-link1 {
        font-family: 'Amatic SC', cursive;
        text-decoration: none;
        color: white;
        background-color: rgb(255, 49, 83);
        display: block;
        width: 80%;
        padding: 3%;
        font-size: 5vw;
        transition: .5s ease-in-out;
        text-align: center;
        margin: 275% 0 10% 10%;
    }
    
    a.treat-form-link1:hover {
        transform: scale(1.1);
        text-decoration: none;
        color: white;
        transition: .5s ease-in-out;
    }


}